!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    = csrf_meta_tag
    %title 
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'github_issues/application'
    = javascript_include_tag "application"
    = javascript_include_tag "github_issues/application"
  %body
    #parent
      = yield
    = github_issue_dialog
